<section>
  <%= for item <- @items do %>
    <div class="m-10">
      <strong class="text-3xl bold">
        <.link href={~p"/items/#{item.id}"}><%= item.title %></.link>
      </strong>
      <p class="text-lg text-blue-800 bold "><%= item.description %></p>
      <p>Price <%= Decimal.from_float(item.price / 100) |> Decimal.to_integer() %>$</p>
    </div>
  <% end %>
  <.link class="rounded bg-blue-800 tx-lg text-white p-5 m-10" href={~p"/items/new"}>
    New Item
  </.link>
</section>
