<.flash_group flash={@flash} />
<div class="flex items-center content-center justify-center height-screen">
  <a class="text-4xl bold border-2 p-5 rounded" href="/items">View Items for sale</a>
</div>
